@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-position: center;
  padding: 1rem 0.5rem;
} */

.main-heading {
  color: rgb(77, 1, 77);
  text-align: center;
}

section {
  width: 100%;
  max-width: 390px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type='text'],
input[type='password'],
input[type='email'],
button,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #2c3e50;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

label,
button {
  margin-top: 1rem;
  width: 70%;
}

button {
  background-color: rebeccapurple;
  padding: 0.75rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}
.signup_button {
  display: flex;
  justify-content: center; /* center the child element horizontally */
  align-items: center; /* center the child element vertically */
}

button:hover {
  background-color: #8a2be2;
  color: #fff;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
